.skill{
  display: flex;
  max-width: 600px;
  margin: 50px auto;
}
.skill:first-of-type{
  margin-top: 0;
}
.skill:last-of-type{
  margin-bottom: 0;
  padding-bottom: 100px;
}
.lang{

  height: 50px;
  align-self: center;
}
.dsc{
  padding-left: 20px;
}
.dark{
  border-radius: 50%;
  background: var(--w-5);
}
.title{
  font-family: var(--font-text) !important;
  font-size: 17px;
}