.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 70px;
}
.relcont {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 70px;
  display: block;
}
.blockContainer {
  width: 90%;
  margin: 25px auto;
  max-width: 800px;
  height: auto;
  padding: 25px;
}
.displayDark {
  color: var(--w-3) !important;
}
._header {
  font-size: 4em;
  padding-top: 50px;
  font-family: var(--font-title);
  color: var(--g-dim);
  text-align: center;
}
.button {
  padding: 12.5px 30px;
  border-radius: 75px;
  font-size: 17.5px;
  background: var(--y-dim);
  color: var(--w-4);
  border: none;
  font-family: var(--font-text);
}
.button:hover {
  cursor: pointer;
}
.button:disabled {
  opacity: 0.5;
}
.button:disabled:hover {
  cursor: not-allowed;
}
.blockSlant {
  max-height: 400px;
  height: 50vh;
  width: 100%;
}
.overlayer {
  display: grid;
  grid-template-columns: 1fr;
}
.overlayElement {
  grid-row-start: 1;
  grid-column-start: 1;
}
.centerx {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}
.link {
  color: var(--y-bright);
  text-decoration: none;
}
.hov:hover {
  cursor: pointer;
}
.textCenter {
  text-align: center !important;
}
.blockBtn {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  max-width: 300px;
}
.blockBtnLeft {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.blockInput {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 10px 0;
}
.slant {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.formLabel {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.formDesc {
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input {
  border: solid var(--w-3) 1px;
  border-radius: 5px;
  padding: 10px;
  background: var(--w-5);
  font-family: var(--font-text);
  font-weight: 300;
  transition: 0.25s;
}
.input:focus {
  border: solid rgb(0, 200, 255) 1px;
  box-shadow: 0 0 0 3px rgba(0, 200, 255, 0.5);
}
.darkBtn {
  background: var(--b-bright);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: var(--w-5);
  border: none;
  font-family: var(--font-text);
  transition: 0.25s;
}
.darkBtn:hover {
  cursor: pointer;
  background: var(--b-med);
}

@media (max-width: 600px) {
  ._header {
    font-size: 2.5em;
    padding-top: 25px;
  }
}
.op0 {
  opacity: 0;
  transition: 1.5s;
  border-top: solid transparent 25px;
}
.op1 {
  opacity: 1;
  transition: 1.5s;
  border-top: solid transparent 0px;
}
