.abtCover {
  z-index: 5;
  width: 90%;
  min-height: 30vh;
  height: auto;
  margin: 5%;
}
.centerHead{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 25px;
}
.coreForm{
  max-width: 800px;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin: 50px 0;
}
.count{
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.flexForm{
  display: flex;
  width: 100%;
}
.inputPageTitle{
  flex: 0 0 15vw;
  min-height: 40px;
  min-width: 150px;
}
.inputPageDescription {
  flex-grow: 1;
  margin: 0 10px;
  min-height: 40px;
}
.submitPageData{
  flex: 0 0 100px;
  max-height: 40px;
}

@media(max-width: 450px){
  .flexForm{
    display: block;
  }
  .inputPageTitle, .inputPageDescription, .submitPageData{
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}